.App {
  text-align: center;
}

.usersList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}
.userCard{
  width: 30%;
  margin-bottom:1.5%;
}

.SingleUserCard{
  width: 33%;
  margin-bottom: 2.5%;
  border-radius: 25px;
  box-shadow: 0px 10px 10px 1px #c2c2c2;
}
.SingleUserCard>img{
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.SingleUserLayout{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.navbar{
  margin-bottom: 2.5%;
}

.PostCard{
  width: 30%;
  margin-bottom: 1.5%;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px #ebebeb;

}
.PostList{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px 1px #c2c2c2;
  border-radius: 25px;
  padding: 1.5%;

}
.footer{
  margin-top: 2.5%;
  margin-bottom: 1.5%;
}
.footer>a{text-decoration: none;color: #0000008c;}